<div class="collection collection1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="collection1__collection-item">
          <div class="collection1__product-img">
            <div class="collection1__heart">
              <i class="far fa-heart"></i>
            </div>
            <img
              src="https://www.pngkey.com/png/full/1-11973_gucci-shoes-for-women-png-pic-gucci-tian.png"
              alt=""
            />
          </div>
          <div class="collection1__product-info">
            <div class="collection1__product-details">
              <span class="collection1__product-title">Sneakers</span>
              <span class="collection1__product-price">$250</span>
            </div>
            <div class="collection1__colors">
              <div class="collection1__color collection1__color--blue"></div>
              <div class="collection1__color collection1__color--black"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="collection1__collection-item">
          <div class="collection1__product-img">
            <div class="collection1__heart">
              <i class="far fa-heart"></i>
            </div>
            <img
              src="https://www.pngkey.com/png/full/59-591013_air-jordan-1-retro-high-og-hyper-royal.png"
              alt=""
            />
          </div>
          <div class="collection1__product-info">
            <div class="collection1__product-details">
              <span class="collection1__product-title">Sneakers</span>
              <span class="collection1__product-price">$250</span>
            </div>
            <div class="collection1__colors">
              <div class="collection1__color collection1__color--blue"></div>
              <div class="collection1__color collection1__color--white"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="collection1__collection-item">
          <div class="collection1__product-img">
            <div class="collection1__heart">
              <i class="far fa-heart"></i>
            </div>
            <img
              src="https://www.pngkey.com/png/full/153-1530755_nike-lebron-10-ext-cork-sneakers.png"
              alt=""
            />
          </div>
          <div class="collection1__product-info">
            <div class="collection1__product-details">
              <span class="collection1__product-title">Sneakers</span>
              <span class="collection1__product-price">$250</span>
            </div>
            <div class="collection1__colors">
              <div class="collection1__color collection1__color--blue"></div>
              <div class="collection1__color collection1__color--white"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Group",
  "settings": [
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "Collection Group"
    }
  ]
}
{% endschema %}
